@import "../base/global";

@property --angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

.header {
  --anim-length: 0.7s;
  --anim-delay: calc(var(--anim-length) / 2);
  position: relative;
  height: 100vh;
  max-height: $height-4k;

  &__container {
    --container-max-width: #{$width-desktop-m};
    --columns: 5fr 8fr;
    --container-padding-x: 0;
    position: relative;
    width: 100%;
    max-width: var(--container-max-width);
    height: 100%;
    padding: 0 var(--container-padding-x);
    margin: 0 auto;
    z-index: 10;
    @include grid-columns(def, var(--columns), 0, stretch, center, stretch);

    @include res-max-desktop-m {
      --container-max-width: 90%;
    }

    @include res-max-desktop-s {
      --container-max-width: unset;
      --container-padding-x: #{$gap-xxl};
    }

    @include res-max-tablet {
      --columns: 5fr 8fr;
      --container-padding-x: #{$gap-l};
    }

    @media only screen and (max-width: 767px) {
      --columns: 1fr;
    }
  }

  &__content {
    --content-font-size: 8rem;
    --justify-content: center;
    --padding-top: 0;
    @include flex-set(def, column, wrap, $gap, flex-start, var(--justify-content));
    position: relative;
    padding-top: var(--padding-top);
    font-size: var(--content-font-size);
    z-index: 2;

    @include res-max-desktop-xxl {
      --content-font-size: 9rem;
    }

    @include res-max-desktop-s {
      --content-font-size: 6rem;
    }

    @include res-max-mobile-l {
      --content-font-size: 5rem;
      --padding-top: 7rem;
      --justify-content: flex-start;
    }

    > h1 {
      opacity: 0;
      font-size: 1em;
      font-weight: 500;
      line-height: 1;
      color: var(--color-primary);
      white-space: nowrap;
      animation: showUp var(--anim-length) linear forwards;
      transform: translateY(1rem);
      z-index: 1;
      @media only screen and (max-width: 767px) {
        font-size: 0.9em;
      }
    }

    > p {
      opacity: 0;
      font-family: var(--font-title);
      font-size: 0.4em;
      font-weight: 400;
      line-height: 1.2;
      animation: showUp var(--anim-length) var(--anim-delay) linear forwards;
      transform: translateY(-1rem);
      @include res-min-mobile-l {
        line-height: 1.4;
      }

      br {
        @media only screen and (max-width: 767px) {
          display: none;
        }
      }

      + div {
        margin-top: 0.7em;
        opacity: 0;
        animation: showOpacity var(--anim-length) calc(var(--anim-length) + var(--anim-delay)) linear forwards;
        @media only screen and (max-width: 767px) {
          margin-top: 0.4em;
        }
      }
    }
  }

  &__bg {
    display: grid;
    background-image: url("../images/backgrounds/header-bg.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 65%;
    transform: translateX(10%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    @include res-max-desktop-xl {
      transform: translateX(0%);
    }
    @include res-max-desktop-l {
      transform: scale(0.9, 0.9);
    }
    @include res-max-desktop-s {
      transform: scale(0.8, 0.8);
    }
    @include res-max-tablet {
      transform: scale(0.7, 0.7);
    }
    @media only screen and (max-width: 767px) {
      background-size: 25%;
      transform: scale(1, 1) translateY(-20%);
    }
    @include res-max-mobile-l {
      background-size: 80px;
      transform: translateY(-40%);
    }

    div {
      --text-top: 50%;
      --text-left: 50%;
      --text-transform-y: -50%;
      --text-transform-x: -50%;
      --text-index-x: 0px;
      --text-index-y: 0px;
      --text-index-y-top: -64px;
      --text-index-y-bottom: 64px;
      --text-index-x-right: 96px;
      --text-index-x-left: -96px;
      position: relative;
      display: block;
      // border: 1px solid red;
      transform: scale(0, 0);
      @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
          animation: showUpGradually 0.65s forwards linear;
          animation-delay: calc(-0.5s + calc(#{$i}s / 2));
        }
      }

      &:nth-of-type(1) {
        --text-top: 100%;
        --text-transform-y: -100%;
        --text-transform-x: -69%;
        --text-index-y: var(--text-index-y-top);
        grid-area: 1 / 3 / 2 / 5;
        @media only screen and (max-width: 767px){
          --text-transform-x: -90%;
        }
        @include res-max-mobile-l {
          --text-transform-x: -69%;
        }
      }
      &:nth-of-type(2) {
        --text-left: 0%;
        --text-transform-y: -34%;
        --text-transform-x: 0%;
        --text-index-x: var(--text-index-x-right);
        grid-area: 2 / 4 / 3 / 5;
        @media only screen and (max-width: 767px){
          --text-transform-y: -64%;
        }
        @include res-max-mobile-l {
          --text-transform-y: -75%;
        }
      }
      &:nth-of-type(3) {
        --text-left: 0%;
        --text-transform-y: -50%;
        --text-transform-x: 0%;
        --text-index-x: var(--text-index-x-right);
        grid-area: 3 / 4 / 4 / 5;
        @include res-max-mobile-l {
          --text-transform-y: -5%;
        }
      }
      &:nth-of-type(4) {
        --text-top: 0%;
        --text-transform-y: 0%;
        --text-transform-x: -60%;
        --text-index-y: var(--text-index-y-bottom);
        grid-area: 4 / 3 / 5 / 5;
        @media only screen and (max-width: 767px){
          --text-transform-x: -70%;
        }
        @include res-max-mobile-l {
          --text-transform-x: -60%;
        }
      }
      &:nth-of-type(5) {
        --text-top: 0%;
        --text-transform-y: 0%;
        --text-transform-x: -27%;
        --text-index-y: var(--text-index-y-bottom);
        grid-area: 4 / 1 / 5 / 3;
        @media only screen and (max-width: 767px){
          --text-transform-x: 3%;
        }
        @include res-max-mobile-l {
          --text-transform-x: -27%;
        }
      }
      &:nth-of-type(6) {
        --text-left: 100%;
        --text-transform-y: -72%;
        --text-transform-x: -100%;
        --text-index-x: var(--text-index-x-left);
        grid-area: 3 / 1 / 4 / 2;
        @media only screen and (max-width: 767px){
          --text-transform-y: -36%;
        }
        @include res-max-mobile-l {
          --text-transform-y: -16%;
        }
      }
      &:nth-of-type(7) {
        --text-left: 100%;
        --text-transform-y: -29%;
        --text-transform-x: -100%;
        --text-index-x: var(--text-index-x-left);
        grid-area: 2 / 1 / 3 / 2;
        @media only screen and (max-width: 767px){
          --text-transform-y: -64%;
        }
        @include res-max-mobile-l {
          --text-transform-y: -82%;
        }
      }
      &:nth-of-type(8) {
        --text-top: 100%;
        --text-transform-y: -100%;
        --text-transform-x: -40%;
        --text-index-y: var(--text-index-y-top);
        grid-area: 1 / 1 / 2 / 3;
        @media only screen and (max-width: 767px){
          --text-transform-x: -27%;
        }
        @include res-max-mobile-l {
          --text-transform-x: -40%;
        }
      }
      &:nth-of-type(9) {
        --anim-time: 4s;
        position: relative;
        display: block;
        transform: scale(1, 1);
        z-index: 0;
        grid-area: 2 / 2 / 4 / 4;

        &:after {
          @include center-item;
          display: block;
          content: "";
          width: 140%;
          aspect-ratio: 1 / 1;
          background-image: conic-gradient(
            var(--color-trans) var(--angle),
            var(--color-white) var(--angle),
            var(--color-white) 360deg
          );
          border-radius: 50%;
          animation: showGradually var(--anim-time) forwards linear;
          @media only screen and (max-width: 767px){
            width: 53%;
          }
          @include res-max-mobile-l {
            width: 90px;
          }
        }
        /* Desktop & Mobile Safari + Firefox */
        @supports (-webkit-touch-callout: none) or (selector: nth-child(1 of x)) or (-moz-appearance: none) {
          &:after {
            --anim-time: 1s;
            background-color: var(--color-white);
            animation: hideOpacity var(--anim-time) forwards linear;
          }
        }
      }

      @include res-max-desktop-s {
        --text-index-y-top: 0px;
        --text-index-y-bottom: 0px;
        --text-index-x-right: 48px;
        --text-index-x-left: -48px;
        font-size: $gap-l;
      }
      @include res-max-tablet {
        --text-index-y-top: 32px;
        --text-index-y-bottom: -32px;
      }
      @media only screen and (max-width: 767px) {
        --text-index-y-top: -32px;
        --text-index-y-bottom: 32px;
        --text-index-x-right: -32px;
        --text-index-x-left: 32px;
      }
      @include res-max-mobile-l {
        --text-index-y-top: -32px;
        --text-index-y-bottom: 32px;
        --text-index-x-right: -32px;
        --text-index-x-left: 32px;
      }

      > p {
        @include center-item(
          var(--text-top),
          var(--text-left),
          calc(var(--text-transform-x) + var(--text-index-x)),
          calc(var(--text-transform-y) + var(--text-index-y))
        );
        // border: 1px solid green;
        font-family: $font-title;
        font-size: x-large;
        line-height: 1.2;
        text-align: center;
        white-space: nowrap;
        @include res-max-desktop-s {
          font-size: $gap-l;
        }
        @media only screen and (max-width: 767px){
          font-size: large;
        }
        @include res-max-mobile-l {
          font-size: medium;
        }
      }
    }
  }
}

@keyframes showGradually {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes showUpGradually {
  from {
    transform: scale(0, 0);
  }

  85% {
    transform: scale(1.1, 1.1);
  }

  to {
    transform: scale(1, 1);
  }
}

@keyframes showUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
