@import "../base/global";

@property --angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

.header {
  --anim-length: 0.7s;
  --anim-delay: calc(var(--anim-length) / 2);
  position: relative;
  height: 100vh;
  max-height: $height-4k;

  &__container {
    --container-max-width: #{$width-desktop-m};
    --col-count: 2;
    --container-padding-x: 0;
    position: relative;
    width: 100%;
    max-width: var(--container-max-width);
    height: 100%;
    padding: 0 var(--container-padding-x);
    margin: 0 auto;
    z-index: 10;
    @include grid-columns(def, repeat(var(--col-count), minmax($gap-l, 1fr)), 0, stretch, center, stretch);
    @include res-max-desktop-m {
      --container-max-width: 90%;
    }

    @include res-max-desktop-s {
      --container-max-width: unset;
      --container-padding-x: #{$gap-xxl};
    }

    @include res-max-tablet {
      --container-padding-x: #{$gap-l};
    }

    @include res-max-mobile-l {
      --col-count: 1;
      --container-padding-x: #{$gap-l};
    }
  }

  &__content {
    --content-font-size: 8rem;
    --justify-content: center;
    --padding-top: 0;
    @include flex-set(def, column, wrap, $gap, flex-start, var(--justify-content));
    position: relative;
    padding-top: var(--padding-top);
    font-size: var(--content-font-size);
    z-index: 2;

    @include res-max-desktop-xxl {
      --content-font-size: 9rem;
    }

    @include res-max-desktop-s {
      --content-font-size: 6rem;
    }

    @include res-max-mobile-l {
      --content-font-size: 5rem;
      --padding-top: var(--nav-height);
      --justify-content: flex-start;
    }

    > h1 {
      opacity: 0;
      font-size: 1em;
      font-weight: 500;
      line-height: 1;
      color: var(--color-primary);
      white-space: nowrap;
      animation: showUp var(--anim-length) linear forwards;
      transform: translateY(1rem);
      z-index: 1;
    }

    > p {
      opacity: 0;
      font-family: var(--font-title);
      font-size: 0.4em;
      font-weight: 400;
      line-height: 1.2;
      animation: showUp var(--anim-length) var(--anim-delay) linear forwards;
      transform: translateY(-1rem);
      @include res-min-mobile-l {
        line-height: 1.4;
      }

      + div {
        margin-top: 0.7em;
        opacity: 0;
        animation: showButton var(--anim-length) calc(var(--anim-length) + var(--anim-delay)) linear forwards;
      }
    }
  }

  &__bg {
    display: grid;
    background-image: url("../images/backgrounds/bg-circle.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 65%;
    transform: translateX(10%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    div {
      --text-transform-y: -50%;
      --text-transform-x: -50%;
      position: relative;
      display: block;
      transform: scale(0, 0);
      @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
          animation: showUpGradually 0.65s forwards linear;
          animation-delay: calc(-0.5s + calc(#{$i}s / 2));
        }
      }

      &:nth-of-type(1) {
        --text-transform-y: 32%;
        --text-transform-x: -69%;
        grid-area: 1 / 3 / 2 / 5;
      }
      &:nth-of-type(2) {
        --text-transform-y: -34%;
        --text-transform-x: -24%;
        grid-area: 2 / 4 / 3 / 5;
      }
      &:nth-of-type(3) {
        --text-transform-y: -50%;
        --text-transform-x: -39%;
        grid-area: 3 / 4 / 4 / 5;
      }
      &:nth-of-type(4) {
        --text-transform-y: -120%;
        --text-transform-x: -60%;
        grid-area: 4 / 3 / 5 / 5;
      }
      &:nth-of-type(5) {
        --text-transform-y: -238%;
        --text-transform-x: -27%;
        grid-area: 4 / 1 / 5 / 3;
      }
      &:nth-of-type(6) {
        --text-transform-y: -72%;
        --text-transform-x: -82%;
        grid-area: 3 / 1 / 4 / 2;
      }
      &:nth-of-type(7) {
        --text-transform-y: -29%;
        --text-transform-x: -73%;
        grid-area: 2 / 1 / 3 / 2;
      }
      &:nth-of-type(8) {
        --text-transform-y: 32%;
        --text-transform-x: -40%;
        grid-area: 1 / 1 / 2 / 3;
      }
      &:nth-of-type(9) {
        --anim-time: 4s;
        position: relative;
        display: block;
        transform: scale(1, 1);
        z-index: 0;
        grid-area: 2 / 2 / 4 / 4;

        &:after {
          @include center-item;
          display: block;
          content: "";
          width: 140%;
          aspect-ratio: 1 / 1;
          background-image: conic-gradient(
            hsla(0, 0%, 0%, 0) var(--angle),
            var(color-white) var(--angle),
            var(color-white) 360deg
          );
          background-color: var(--color-white);
          border-radius: 50%;
          animation: showGradually var(--anim-time) forwards linear;
        }

        /* Desktop & Mobile Safari + Firefox */
        // @supports (-webkit-touch-callout: none) or (selector(:nth-child(1 of x))) or (-moz-appearance: none) {
        //   &:after {
        //     background-color: var(--color-white);
        //     animation: hideOpacity var(--anim-time) forwards linear;
        //   }
        // }
      }

      > p {
        @include center-item(50%, 50%, var(--text-transform-x), var(--text-transform-y));
        min-width: 16rem;
        font-family: $font-title;
        font-size: x-large;
        line-height: 1.2;
        text-align: center;
      }
    }
  }
}

@keyframes showGradually {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes showUpGradually {
  from {
    transform: scale(0, 0);
  }

  85% {
    transform: scale(1.1, 1.1);
  }

  to {
    transform: scale(1, 1);
  }
}

// @keyframes showRight {
//   from {
//     opacity: 0;
//     transform: translate(4rem, 0);
//   }

//   to {
//     opacity: 1;
//     transform: translate(0);
//   }
// }

// @keyframes showImage {
//   from {
//     opacity: 0;
//     transform: scale(0.9, 0.9);
//   }

//   to {
//     opacity: 1;
//     transform: scale(1, 1);
//   }
// }

@keyframes showUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
